var first = el.getBoundingClientRect();

el.classList.add('totes-at-the-end');

var last = el.getBoundingClientRect();

el.style.transform = `translateY(${invert}px)`;

requestAnimationFrame(function() {

  el.style.transition = 'transform ease 500ms';
  el.style.transform = '';
});

el.addEventListener('transitionend', tidyUpAnimations);